<div class="row">
  <div class="col-md-6">

    <%= render partial: 'uploader/upload' %>
    <p id="files">

    </p>
  </div>
  <div class="col-md-6">
    <div id="result">

    </div>
  </div>
</div>
